{{>layout/header}}
<body>
	
	<h1>--------------------------------------------</h1>
	{{#menu}}
	<h1>{{name}}</h1>
	<h3>{{url}}</h3>
	<h3>Hijos</h3>
		{{#children}}	
			<h4>{{name}}</h1>
			<h5>{{url}}</h3>
		{{/children}}	
	{{/menu}}
	<h1>--------------------------------------------</h1>

	<div class="container">{{>layout/article}}</div>



</body>
{{>layout/footer}}
