{{>layout/header}}
<body>
<h2>Seleccione su empresa</h2>
	<form action="/v1/sso/companies" method="post">
		<input type='hidden' name='token' value='{{token}}'>
		<input type='hidden' name='user' value='{{user}}'>
		<input type='hidden' name='callback' value='{{callback}}'>
		<select name="company" >{{#companies}}
                 <option value="{{.}}" {{selected}}>{{.}}</option> 
        		{{/companies}}</select>
		<button type=submit>Enviar</button>
	</form>

</body>
{{>layout/footer}}
